from datetime import datetime, timedelta, timezone

# Bot prefix
command_prefix = '?'

# Timezone
brasilia_tz: datetime = timezone(timedelta(hours=-3))

# Default embeds width
embed_width: int = 54

# Roles id to use managment commands
allowed_roles: list[int] = [
    0000000000000000000  # Role name
]

# Allowed chest slash command channels 
chest_channel_id: list[int] = [
    0000000000000000000 # Channel name
]

# Discord server id and channel id for bot logs
log_channel:id = 000000000000000000

# Seizures
SeizureChannel:id = 000000000000000000
refund_channel_id: int = 000000000000000000
seizure_value: int = 000

# Canal auxiliar
aux_db_channel: int = 1378362943821053982
# ID to be mentioned in errors or initializations
# 000000000000000000 to user or '&000000000000000000' to roles
reporting_mention_id:id = 000000000000000000